<h1>ゲストブック(iPhone)</h1>

<table>
  <tr>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guestbooks.each do |guestbook| %>
  <tr>
    <td><%= guestbook.comment %></td>
    <td><%= link_to 'Show', guestbook %></td>
    <td><%= link_to 'Edit', edit_guestbook_path(guestbook) %></td>
    <td><%= link_to 'Destroy', guestbook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guestbook', new_guestbook_path %>
